@import url('https://fonts.googleapis.com/css?family=Shojumaru|Sonsie+One&display=swap');

.App {
  text-align: center;
  background-color: #F2F2FC;
  width: 100%;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  font-family: 'Shojumaru', cursive;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: inline;
  color: #F2F2FC;
  text-align: center;
  text-decoration: none;
}

input {
  border: none;
  border-radius: 5px;
  padding: 2px 1px;
}

.inline {
  display: inline-block;
  margin: 50px;
}

.navbar {
  background-color: #0B4F6C;
  width: 100%;
  position: fixed;
  margin-top: 0px;
}

.navbar h1 {
  display: inline-block;
  max-height: 80px;
  font-size: 65px;
  margin: 0px;
  padding: 23px;
  text-align: center;
}

.navbar ul {
  background-color: none;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;

}


.navbar li {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: right;
  font-weight: 500;
  font-family: 'Shojumaru', cursive;
}
.navbar a {
  display: block;
  text-align: center;
  justify-content: center;
  padding: 27px 37px;
  
  font-size: 23px;
}

.active {
  background-color: #919191;
}


.title a {
  padding: 0px; 
  color: #F2F2FC;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
}

.input {
  width: 40%;
  margin-left: 30%;
  padding-top: 85px;
}
.input ul {
  display: block;
}

.input li {
  display: block;
}

.warmup {
  background-color: #0093BC;
  border-radius: 11px;
  width: 100%;
}

.warmup input {
  margin: 12px 5px;
}

.warmup select {
  margin: 12px 5px;
}

.warmup li button {
  margin: 12px 20px;
  padding: 4px 9px;
  font-weight: bold;
  font-size: 15px;
  background-color: #dc3545;
  color: #F2F2FC;
  border: 1px solid #dc3545;
  border-radius: 5px;
}

.warmup h2 {
  padding: 18px 0px 0px 0px;
  color: #F2F2FC;
}

.warmup button {
  margin-bottom: 10px;
}

.mainpart {
  background-color: #0093BC;
  border-radius: 11px;
  width: 100%;
}

.mainpart h2 {
  padding: 18px 0px 0px 0px;
  color: #F2F2FC;
}

.mainpart li {
  display: block;
}

.mainpart button {
  margin: 5px 7px 15px 7px;
}

.mainpart ul ul {
  background-color: #0B4F6C;
  width: 70%;
  color: #F2F2FC;
  margin-left: 15%;
  border-radius: 5px;
  padding: 15px 0px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.mainpart ul {
  margin-bottom: 5px;
}
.mainpart ul ul button {
  margin: 5px;
}

.mainpart h4 {
  margin: 10px,

}
 
.excercise {
  margin: 8px;
  background-color: #1EB24F;
  width: 66%;
  margin-left: 17%;
  border-radius: 5px;
}

.excercise input {
  margin: 1px 5px;
}

.excercise button {
  margin: 10px 5px 10px 5px;
  background-color: #dc3545;
  color: #F2F2FC;
  border: 1px solid #dc3545;
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 15px;
}

.excercise select {
  margin: 1px 5px;
}

.excercise h4 {
  padding-top: 12px;
  color: #F2F2FC;
}
.cooldown {
  background-color: #0093BC;
  border-radius: 11px;
  width: 100%;
}

.cooldown ul {
  padding: 10px 0px;
}

.cooldown  input {
  margin: 0px 5px 12px 5px;
}

.cooldown h2 {
  padding: 18px 0px 0px 0px;
  color: #F2F2FC;
}

.cooldown select {
  margin: 0px 5px 12px 5px;
}

.addExcercise {
  background-color: #1EB24F;
  color: #F2F2FC;
  border: 1px solid #1EB24F;
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 15px;
}

.addCombo {
  background-color: #0B4F6C;
  color: #F2F2FC;
  border: 1px solid #0B4F6C;
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 15px
}

.delete {
  margin: 10px 5px 10px 5px;
  background-color: #dc3545;
  color: #F2F2FC;
  border: 1px solid #dc3545;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 15px;
}

.post {
  margin: 10px 5px 10px 5px;
  background-color: #0B4F6C;
  color: #F2F2FC;
  border: 1px solid #0B4F6C;
  border-radius: 7px;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 21px;
}

.inputField {
  width: 55px;
  text-align: center;
}

.inputFieldMulti {
  width: 30px;
  text-align: center;
}

.inCombo {
  width: 80%;
  margin-left: 10%;
}

.dateInput {
  margin: 20px;
  width: 70%;
  margin-left: 15%;
  background-color: #1EB24F;
  color: #F2F2FC;
  border: 1px solid #1EB24F;
  border-radius: 6px;
  padding: 13px 8px;
  font-weight: bold;
  font-size: 15px;
}

.dateInput span {
  margin: 5px;
}

.dateInput input {
  margin: 5px;
}

.trainings {
  padding-top: 85px;
}

.trainings ul div {
  background-color: #1EB24F;
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #1EB24F;
  border-radius: 7px;
}

.training {
  background-color: #0B4F6C;
  border-radius: 11px;
  width: 100%;
}

.training ul li {
    margin: 10px;
    width: 66%;
    margin-left: 17%;
    border-radius: 5px;
    display: block;
}

.training h2 {
  padding: 15px 0px 0px 0px;
  color: #F2F2FC;
}


.training h4 {
  padding-top: 10px;
  color: #F2F2FC;
}

.training span {
  color: #F2F2FC;
  margin: 10px 5px;
}

.training div {
  margin-bottom: 10px;
}

.cell {
  display: block;
  text-align: center;
}

.cell h3 {
  display: inline-block;
  width: 30%;
  color: #F2F2FC;
}

.cell ul {
  display: inline-table;
  width: 70%;
  height: 100%;
  margin: auto;
}

.cell li {
  text-align: center;
  display: block;
}

.cell ul ul {
  border: 1px solid #F2F2FC;
  border-radius: 5px;
  margin-bottom: 10px;
}

.main :first-child {
  margin-top: 5px;
}